ul.uili>li {
    list-style: none;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: justify;
    white-space: wrap;
}

ul.uili>li:hover {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 6px;
}

ul.uili>li::before {
    content: "→";
    padding: 0px 5px 2px 5px;
    border: solid 1px #134e4a;
    margin-right: 7px;
    font-size: inherit;
    font-weight: 700;
    color: #134e4a;
    text-decoration: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}