@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth scroll-pt-6 not-sr-only;
  }
  body {
    @apply normal-nums break-normal antialiased text-base font-serif align-middle w-space-1;
  }
  p {
    @apply text-justify;
  }
  u {
    text-decoration: underline;
    text-decoration-color: #5271FF;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2px;
  }
}

@layer components {
  .subHead {
    @apply py-1 text-2xl font-semibold text-left font-sans text-indigo-500;
  }
  .hr {
    @apply border border-solid w-5/12 
     mb-2;
  }
}

@layer utilities {
  .w-space-0 {
    word-spacing: normal;
  }
  .w-space-1 {
    word-spacing: 0.2ch;
  }
  .min-h-1\/2 {
    min-height: 50vh;
  }
  .text-shadow {
    text-shadow: 2px 2px 5px rgba(17,10,10,0.51);
  }
}