@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    width: 100%;
    height: 100%;
    @apply scroll-smooth scroll-pt-6 not-sr-only;
  }

  body {
    @apply normal-nums break-normal antialiased text-base font-serif align-middle w-space-1;
  }

  p {
    @apply text-justify;
  }

  u {
    text-decoration: underline;
    text-decoration-color: #5271FF;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2px;
  }

  /* ul {
    @apply list-disc list-inside;
  } */
}

@layer components {
  .subHead {
    @apply py-1 text-1.5xl font-semibold text-left font-sans text-indigo-500;
  }

  .titleHead {
    @apply text-center text-3xl font-title mt-2 font-medium text-indigo-500;
  }

  .hr {
    @apply border border-solid w-5/12 mb-2;
  }
}

@layer utilities {
  .w-space-0 {
    word-spacing: normal;
  }

  .w-space-1 {
    word-spacing: 0.2ch;
  }

  .min-h-1\/2 {
    min-height: 50vh;
  }

  .text-shadow {
    text-shadow: 2px 2px 5px rgba(17, 10, 10, 0.51);
  }

  .text-1\.5xl {
    font-size: 1.375rem
      /* 22px */
    ;
    line-height: 1.875rem
      /* 30px */
    ;
  }
}