@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica Neue Light";
  src: local("helvetica-neue"),
    url("./Fonts/helvetica-neue/HelveticaNeueLight.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue Medium";
  src: local("helvetica-neue"),
    url("./Fonts/helvetica-neue/HelveticaNeueMedium.ttf") format("truetype");
}

@font-face {
  font-family: "Helvetica Neue Bold";
  src: local("helvetica-neue"),
    url("./Fonts/helvetica-neue/HelveticaNeueBold.ttf") format("truetype");
}

@layer base {
  html {
    width: 100%;
    height: 100%;
    @apply scroll-smooth scroll-mt-10;
  }

  body {
    @apply normal-nums break-normal antialiased text-base font-body align-middle w-space-1 bg-slate-900 text-slate-300 scroll-x-none;
  }

  p {
    @apply text-justify;
  }

  u {
    text-decoration: underline;
    text-decoration-color: #5271ff;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2px;
  }

  hr {
    @apply border border-solid border-teal-500 w-10/12 mt-3 mb-2 mx-auto;
  }
}

@layer components {
  .text-standard {
    font-size: 15px;
    line-height: 22px;
  }

  .subHead {
    @apply py-1 text-xl text-left font-title font-semibold text-indigo-400;
  }

  .titleHead {
    @apply text-center text-3xl font-title mt-2 font-bold text-indigo-500;
  }

  .hr {
    @apply border border-solid w-5/12 mb-2;
  }

  .onesideroundedbox {
    -webkit-border-radius: 0px 132px 0px 0px;
    -moz-border-radius: 0px 132px 0px 0px;
    border-radius: 0px 132px 0px 0px;
  }
}

@layer utilities {
  
  .bg-gradient {
    background: linear-gradient(150deg, #1e293bc7, #28315cbb, rgba(49, 46, 129, 0.787));
  }

  .cell {
    @apply min-w-40 max-w-40 md:min-w-44 md:max-w-44 flex flex-col text-center justify-center bg-slate-800 hover:bg-slate-700 m-2 border-0 py-3 rounded-md font-normal;
  }

  .w-25vw {
    min-width: 25vw;
    max-width: 25vw;
  }
  .w-30vw {
    min-width: 30vw;
    max-width: 30vw;
  }
  .w-19\/20 {
    width: 95%;
  }
  .w-39\/40 {
    width: 97.5%;
  }
  .w-92{
    width: 23rem;
    max-width: 23rem;
  }

  .h-92{
    height: 23rem;
    max-height: 23rem;
  }

  .w-100{
    width: 412px;
  }

  .h-100{
    height: 412px;
  }

  .w-space-1 {
    word-spacing: 0.2ch;
  }

  .rounded-circle {
    border-radius: 50%;
  }

  .scale-103 {
    transform: scale(1.03);
  }

  .border-3 {
    border-width: 3px;
  }

  .min-h-1\/2 {
    min-height: 50vh;
  }

  .text-shadow {
    text-shadow: 2px 2px 5px rgba(17, 10, 10, 0.51);
  }

  .text-1\.5xl {
    font-size: 1.375rem;
    /* 22px */
    line-height: 1.875rem;
    /* 30px */
  }

  .scroll-x-none {
    overflow-x: hidden;
  }

  .display:hover::after {
    content: attr(aria-description);
    position: absolute;
    background: #334155;
    padding: 3px 10px;
    line-break: loose;
    margin: 10px;
    border-radius: 4px;
    z-index: 25;
  }
}
