@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    width: 100%;
    height: 100%;
    @apply scroll-smooth scroll-pt-6 not-sr-only;
  }

  body {
    @apply normal-nums break-normal antialiased text-base font-serif align-middle w-space-1 bg-slate-900 text-slate-300;
  }

  p {
    @apply text-justify;
  }

  u {
    text-decoration: underline;
    text-decoration-color: #5271ff;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2px;
  }

  hr {
    @apply border border-solid border-teal-500 w-10/12 mt-3 mb-2 mx-auto;
  }
}

@layer components {
  .subHead {
    @apply py-1 text-1.5xl font-semibold text-left font-condensed text-indigo-400;
  }

  .titleHead {
    @apply text-center text-4xl font-title mt-2 font-medium text-indigo-500;
  }

  .hr {
    @apply border border-solid w-5/12 mb-2;
  }
}

@layer utilities {
  .w-space-0 {
    word-spacing: normal;
  }

  .w-space-1 {
    word-spacing: 0.2ch;
  }

  .scale-103 {
    transform: scale(1.03);
  }

  .border-3 {
    border-width: 3px;
  }

  .min-h-1\/2 {
    min-height: 50vh;
  }

  .text-shadow {
    text-shadow: 2px 2px 5px rgba(17, 10, 10, 0.51);
  }

  .font-superbold {
    font-weight: 900;
  }

  .text-1\.5xl {
    font-size: 1.375rem;
    /* 22px */
    line-height: 1.875rem;
    /* 30px */
  }
}